.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-container {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.product .product-name {
  width: 200px;
  height: 75px;
}

.product img {
  width: 200px;
}

.product > * {
  margin-bottom: 15px;
}

.pagination {
  margin-top: 50px;
}

.pagination span {
  padding: 15px;
  cursor: pointer;
  border: 1px solid black;
  margin: 0 5px;
}

.cart {
  margin-top: 100px;
}

.add-to-cart {
  color: white;
  border: 1px solid black;
  background-color: green;
  padding: 8px;
}
